.app-main {
    display: grid;
    grid-template-columns: 250px auto;
    transition: grid-template-columns 0.3s ease; 

    &.sidebarOff {
        grid-template-columns: 0 auto; 
        .hiddenBar{
            display: none;
        }
    }
    aside {
        min-height: 100vh;
        transition: opacity 0.3s ease;
    }

    main {
        display: grid;
        grid-template-rows: 65px auto 60px;
    }
}
@media (max-width: 768px) {
    .app-main {
        position: relative;
        aside{
            width: 250px;
            height: 100vh;
            position: absolute;
            left: -250px;
            transition: left 0.3s ease;
        }
        main{
            width: 100vw;
            height: 100vh;
        }
        &.sidebarOff {
            aside{
                left: 0;
                z-index: 1000;
            }
            .hiddenBar{
                display: block;
            }
        }
    }
    .header-reponsive{
        width: 130px;
    }
}